header {
  height: 90px;
  padding: 10px 30px;
  background-color: #222;
  @media(max-width: 992px) {
    height: 50px;
  }
  .header1 {
    display: flex;
    height: 100%;
    align-items: center;
    .logo-href {
      img {
        width: 180px;
        height: 100%;
        @media(max-width:992px) {
          height: 50px;
        }
      }
    }
  }
}

footer {

}