// RESET CSS
button{background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
a {color: #fff; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; color:#fff;}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  .btn {
    margin: 5px;
    padding: 10px 15px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }
}

.main-container {
  .img-content {
    .iimg {
      width: 100%;
    }
  }
}

.scrollToTopBtn {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  display: flex;
  padding: 12.5px 10px;
  .top-arrow-icon {
    width: 100%;
  }
  @media(max-width: 992px) {
    display: none;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}


.btm-btn-area {
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0;
  background: blue;
  .btm--btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    .btn-area {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          width: 35px;
          height: auto;
          margin-bottom: 10px;
        }
        .sub-text {
          
        }
      }
    }
  }
}